@using Microsoft.Data.SqlClient;
@model Acesv.Models.Dados

@{
    ViewData["Title"] = "Insira seus dados";
}


<style>
    .multiselect {
        width: 200px;
    }

    .selectBox {
        position: relative;
    }

        .selectBox select {
            width: 100%;
            font-weight: bold;
        }

    .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    #checkboxes {
        display: none;
        border: 1px #dadada solid;
    }

        #checkboxes label {
            display: block;
        }

            #checkboxes label:hover {
                background-color: #1e90ff;
            }
</style>
 
    
@{
    // Obtém o email do usuário logado
    var userEmail = User.Identity.Name;

    // Variável para armazenar o CPF do usuário logado
    var CpfUser = "";

    // Executa a consulta SQL para obter o valor do campo EditId

    using (var connection = new SqlConnection(@"Data Source=DESKTOP-3QU9K7J\SQLEXPRESS; Initial Catalog=Dados;Integrated Security=True;"))
    {
        connection.Open();

        // Consulta SQL para obter o CPF do usuário logado com base no email
        var queryCpf = "SELECT Cpf FROM AspNetUsers WHERE UserName = @UserEmail";
        using (var commandCpf = new SqlCommand(queryCpf, connection))
        {
            commandCpf.Parameters.AddWithValue("@UserEmail", userEmail);
            var cpfResult = commandCpf.ExecuteScalar();
            if (cpfResult != null)
            {
                CpfUser = cpfResult.ToString();
            }
        }
    }
}
<!DOCTYPE html>
<html lang="pt-BR" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dados do Transportador</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="~/css/style.css">
</head>
<body bis_register="W3sibWFzdGVyIjp0cnVlLCJleHRlbnNpb25JZCI6ImVwcGlvY2VtaG1ubGJoanBsY2drb2ZjaWllZ29tY29uIiwiYWRibG9ja2VyU3RhdHVzIjp7IkRJU1BMQVkiOiJkaXNhYmxlZCIsIkZBQ0VCT09LIjoiZGlzYWJsZWQiLCJUV0lUVEVSIjoiZGlzYWJsZWQiLCJSRURESVQiOiJkaXNhYmxlZCIsIlBJTlRFUkVTVCI6ImRpc2FibGVkIn0sInZlcnNpb24iOiIxLjkuMTIiLCJzY29yZSI6MTA5MTJ9XQ==">
 
                    

 
<style>
    .dropbtn {
        color: #000;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
        background-color: #fff;
    }



    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

    .dropdown a:hover {
        background-color: #ddd;
        transition: background-color 0.5s ease, color 0.5s ease;
    }

    .show {
        display: block;
    }

    .navbar-nav {
        padding-right: 15vh;
    }
</style>
<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    
           
           

            


<style>
    .multiselect {
        width: 200px;
    }

    .selectBox {
        position: relative;
    }

        .selectBox select {
            width: 100%;
            font-weight: bold;
        }

    .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    #checkboxes {
        display: none;
        border: 1px #dadada solid;
    }

        #checkboxes label {
            display: block;
        }

            #checkboxes label:hover {
                background-color: #1e90ff;
            }
            .body{
              display: contents;
            }
</style>
 
    
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#Cep').on('change', function () {
                var cep = $(this).val();
                if (cep.length === 8) {
                    $.ajax({
                        url: 'https://viacep.com.br/ws/' + cep + '/json/',
                        type: 'GET',
                        dataType: 'json',
                        success: function (data) {
                            $('#Endereco').val(data.logradouro);
                            $('#Bairro').val(data.bairro);
                        },
                        error: function () {
                            // Tratar erro, se necessário
                        }
                    });
                }
            });
        });
    
    var expanded = false;

    function showCheckboxes() {
        var checkboxes = document.getElementById("checkboxes");
        if (!expanded) {
            checkboxes.style.display = "block";
            expanded = true;
        } else {
            checkboxes.style.display = "none";
            expanded = false;
        }
    }
    $(document).ready(function () {
        var $campo = $("#cnh");
        $campo.mask('000000000000', { reverse: true });
    });


</script>



  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dados do Transportador</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel="stylesheet" href="/css/style.css">



    <script>
    function mascara(i, t) {
   var v = i.value;
   var maxLength;

   if (t === "data") {
      maxLength = 10;
      if (v.length === 2 || v.length === 5) i.value += "/";
   } else if (t === "cep") {
      maxLength = 9;
      if (v.length === 5) i.value += "-";
   } else if (t === "tel") {
      maxLength = 14;
      if (v.length === 2) i.value = "(" + v + ")";
      if (v.length === 4 || v.length === 9) i.value += "-";
   }
    else if (t == "numeroInput"){
      maxLength = 4
    }
    else if (t == "cnh"){
      maxLength = 12
    }
    else if (t == "prefixo"){
      maxLength = 12
    }
   i.setAttribute("maxlength", maxLength);
   
   if (isNaN(v[v.length - 1])) {
      i.value = v.substring(0, v.length - 1);
   }
}
var inputElement = document.getElementById("numeroInput");

// Adicione um ouvinte de evento de entrada para detectar quando algo é digitado
inputElement.addEventListener("input", function () {
    // Obtenha o valor atual do campo de entrada
    var valor = inputElement.value;

    // Use uma expressão regular para remover caracteres não numéricos
    valor = valor.replace(/[^0-9]/g, '');

    // Defina o valor atualizado de volta no campo de entrada
    inputElement.value = valor;
});

  </script>
  

<!-- partial:index.partial.html -->
<!-- multistep form -->

<form id="msform">
  <!-- progressbar -->
  <ul id="progressbar">
    <li class="active">Dados Pessoais</li>
    <li class="">Informações do Veiculo</li>
    <li class="">Endereço</li>
  </ul>
  <!-- fieldsets -->
 
  <fieldset style="transform: scale(1); position: absolute; opacity: 1;">
    <h2 class="fs-title">Dados Pessoais</h2>
    <h3 class="fs-subtitle">Digite os dados solicitados abaixo</h3>
    <div class="form-group" bis_skin_checked="1">
    <label style="font-size: 14px;">Nome Completo</label>
    <input type="text" placeholder="Nome Completo">
     </div>
    <div class="form-group" bis_skin_checked="1">
    <label style="font-size: 14px;">Apelido</label>
    <input type="text" placeholder="Ex.: Tio Fulano">
    <span class="text-danger field-validation-valid" data-valmsg-for="Apelido" data-valmsg-replace="true"></span>
  </div>
  <div class="form-group" bis_skin_checked="1">
    <label style="font-size: 14px;">CPF</label>
    <input type="text" placeholder="Ex.: 123.456.789-01" readonly="" value="37044600875">
    <span class="text-danger field-validation-valid" data-valmsg-for="Cpf" data-valmsg-replace="true"></span>
  </div>
    <div class="form-group" bis_skin_checked="1">
<label style="font-size: 14px;">Data de Nascimento</label> 
<input oninput="mascara(this, 'data')" id="campo3" type="text" placeholder="dd/mm/aaaa" autocomplete="off" value="" name="data_nascimento" maxlength="10">
<span class="text-danger field-validation-valid" data-valmsg-for="Data_Nascimento" data-valmsg-replace="true"></span>
</div>
<div class="form-group" bis_skin_checked="1">
    <label style="font-size: 14px;">Telefone</label>
     <input oninput="mascara(this, 'tel')" type="text" placeholder="Ex.: (13)12345-6789">
    </div>
    <input type="button" class="next action-button" value="Próximo">
  </fieldset>
  <fieldset style="display: none; left: 50%; opacity: 0; transform: scale(1); position: absolute;">
    <h2 class="fs-title">Informações do Veiculo</h2>
    <h3 class="fs-subtitle">Digite os dados solicitados abaixo</h3>
    <div class="form-group" bis_skin_checked="1">
    <label style="font-size: 14px;">Veículo</label>
    <input type="text" placeholder="Ex.: Sprinter">
    <span class="text-danger field-validation-valid" data-valmsg-for="Veiculo" data-valmsg-replace="true"></span>
  </div>
    <div class="form-group" bis_skin_checked="1">
  </div>
    <label style="font-size: 14px;">Prefixo</label>
    <input type="text" placeholder="Número da Van" oninput="mascara(this,'prefixo')">
    <span class="text-danger field-validation-valid" data-valmsg-for="Prefixo" data-valmsg-replace="true"></span>
    <div class="form-group" bis_skin_checked="1">
    <label style="font-size: 14px;">Bairros</label>
    <textarea name="address" placeholder="Digite os bairro que você faz separados por virgula"></textarea>
    <span class="text-danger field-validation-valid" data-valmsg-for="Bairros" data-valmsg-replace="true"></span>
  </div>
    <div class="form-group" bis_skin_checked="1">
    <label style="font-size: 14px;">Ano do Veículo</label>
    <input type="text" placeholder="Ex.:2015 " maxlength="4" oninput="mascara(this,'numeroInput')">
    <span class="text-danger field-validation-valid" data-valmsg-for="Ano" data-valmsg-replace="true"></span>
  </div>
    <div class="form-group" bis_skin_checked="1">
    <label style="font-size: 14px;">Número da CNH</label>
    <input type="text" placeholder="Insira sua CNH" oninput="mascara(this,'cnh')">
    <span class="text-danger field-validation-valid" data-valmsg-for="Cnh" data-valmsg-replace="true"></span>
  </div>
    <div class="form-group" bis_skin_checked="1">
    <label style="font-size: 14px;">Data de validade da CNH</label>
    <input oninput="mascara(this, 'data')" id="campo3" type="text" placeholder="dd/mm/aaaa" autocomplete="off" value="" name="data_nascimento" maxlength="10">
  </div>
    <span class="text-danger field-validation-valid" data-valmsg-for="Validade" data-valmsg-replace="true"></span>
    <input type="button" name="previous" class="previous action-button" value="Anterior">
    <input type="button" name="next" class="next action-button" value="Próximo">
  </fieldset>
  <fieldset style="display: none; left: 50%; opacity: 0;">
    <h2 class="fs-title">Endereço Pessoal</h2>
    <h3 class="fs-subtitle">Digite as informações do seu endereço</h3>
    <div class="form-group" bis_skin_checked="1">
                <label class="control-label">CEP</label>
                <input class="form-control" type="text" id="Cep" name="Cep" value="">
                <span class="text-danger field-validation-valid" data-valmsg-for="Cep" data-valmsg-replace="true"></span>
            </div>
   <div class="form-group" bis_skin_checked="1">
                <label class="control-label">Endereço</label>
                <input class="form-control" type="text" id="Endereco" name="Endereco" value="">
                <span class="text-danger field-validation-valid" data-valmsg-for="Endereco" data-valmsg-replace="true"></span>
            </div>
            <div class="form-group" bis_skin_checked="1">
                <label class="control-label">Bairro</label>
                <input class="form-control" type="text" id="Bairro" name="Bairro" value="">
                <span class="text-danger field-validation-valid" data-valmsg-for="Bairro" data-valmsg-replace="true"></span>
            </div>
  <label for="complementoCheckbox" style="font-size: 11px;">Há Complemento?</label>
  <input type="checkbox" id="complementoCheckbox">
  <div class="form-group" id="complementoDiv" style="display: none;" bis_skin_checked="1">
    <label style="font-size: 14px;">Complemento</label>
    <input type="text" name="phone" placeholder="Ex.: Apto 00">
    <span class="text-danger field-validation-valid" data-valmsg-for="Complemento" data-valmsg-replace="true"></span>
  </div>
    <input type="button" name="previous" class="previous action-button" value="Previous">
    <input type="submit" value="Create" class="submit action-button" target="_top">
  </fieldset>
</form>
<!-- partial -->



        </main>
    </div>

    <footer b-k9tty6e7ao="" class="border-top footer text-muted">
        <div b-k9tty6e7ao="" class="container" bis_skin_checked="1">
            © 2023 - Acesvv - <a href="/Home/Privacy">Privacy</a>
        </div>
    </footer>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/site.js?v=4q1jwFhaPaZgr8WAUSrux6hAuh0XDg9kPS3xIVq36I0"></script>
    
  <script>// Suponha que você tenha um botão "previous" com o ID "previousButton"
const previousButton = document.getElementById("previousButton");

// Suponha que o rodapé tenha uma classe "footer" para identificação
const footer = document.querySelector(".footer");

// Adicione um ouvinte de evento para o botão "previous"
previousButton.addEventListener("click", () => {
  // Aqui, você pode ajustar a posição do rodapé conforme necessário
  footer.style.position = "relative"; // Ou use "static" se for apropriado
});
</script>


<script>
  const complementoCheckbox = document.getElementById("complementoCheckbox");
        const complementoDiv = document.getElementById("complementoDiv");

        complementoCheckbox.addEventListener("change", function () {
            if (complementoCheckbox.checked) {
                complementoDiv.style.display = "block";
            } else {
                complementoDiv.style.display = "none";
            }
        });
</script>



</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
